.breadcrumb-section .breadcrumb>* {
    display: inline;
}

.breadcrumb {
    display: inline;
}

.arrow-back-container {
    display: inline;
    margin-right: 14px;
    -webkit-transition: .1s ease-out;
    -webkit-transition-delay: 0.1s;
    -o-transition: .1s ease-out;
    -o-transition-delay: 0.5s;
    -moz-transition: .1s ease-out;
    -moz-transition-delay: 0.1s;
    transition: .1s ease-out;
    transition-delay: 0.1s;
}

.arrow-back-container>.arrow-back {
    cursor: pointer;
    -webkit-transition: .1s ease-out;
    -webkit-transition-delay: 0.1s;
    -o-transition: .1s ease-out;
    -o-transition-delay: 0.5s;
    -moz-transition: .1s ease-out;
    -moz-transition-delay: 0.1s;
    transition: .1s ease-out;
    transition-delay: 0.1s;
}

.arrow-back-container>.arrow-back:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
}

.breadcrumb-container.breadcrumb {
    background-color: #9c27b01f;
    margin-left: 10px;
    padding-top: 4px;
}

/* breadcrumb divider */

.breadcrumb>li+li:before {
    padding: 0 5px;
    content: "→";
    color: black;
}

.breadcrumb {
    position: fixed;
    z-index: 1000;
    top: 50px;
    width: 49%;
    left: 0;
}

@media (max-width: 768px) {
    .breadcrumb {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .breadcrumb {
        width: 100%;
        font-size: 10px;
    }
}
