.contribute-photo-btn {
    background: #fff;
    color: #4d3934;
    border: none;
    position: relative;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    -webkit-transition: .1s ease-out;
    -webkit-transition-delay: 0.1s;
    -o-transition: .1s ease-out;
    -o-transition-delay: 0.5s;
    -moz-transition: .1s ease-out;
    -moz-transition-delay: 0.1s;
    transition: .1s ease-out;
    transition-delay: 0.1s;
}

.contribute-photo-btn:hover {
    background: #ce66b7;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}